# Python demo

#### Demo, showing major python functionality.

#### Author: Victor Kitov (v.v.kitov@yandex.ru)

In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

This tutorial introduces major possibilities of python 3.

Comments:
    * big community, making open source extensions
    * high level: around 5 times more compact than C++
    * interpretable: more slow computations but more appropriate for interactive research
    * python 2 / python 3

# Python as calculator

In [6]:
3+5

8

In [7]:
3*5

15

In [10]:
10/3

3.3333333333333335

In [11]:
10%4

2

In [13]:
2**16

65536

In [14]:
1/3

0.3333333333333333

# Boolean logic

In [ ]:
True, False

In [15]:
True==False

False

In [16]:
True!=False

True

In [17]:
1!=10

True

In [20]:
True or False

True

In [21]:
True and False

False

In [22]:
not False

True

In [23]:
not True

False

In [24]:
(2>1)

True

In [25]:
all([True,True,True])

True

In [26]:
any([False,True,False])

True

# print function

In [27]:
print('text')
print('text')
print('text')

text
text
text

In [28]:
print('text', end=' ')
print('text', end=' ')
print('text', end=' ')

text text text

In [1]:
print('output to standard console')
print('output to errors console', file=sys.stderr)

output to standard console

NameError: name 'sys' is not defined

# Basic types

In [30]:
a=True

In [31]:
a

True

In [32]:
a='text'

In [33]:
a

'text'

In [40]:
type(a)

str

In [41]:
b=11  #integer
b

11

In [42]:
c=1/3  # float
c

0.3333333333333333

In [43]:
0.3==.3

True

In [44]:
10**-6==1e-6

True

In [47]:
d='some text'  # string
d

'some text'

Comments: no type declaration required, type is understood on the fly.

## Understanding type

In [48]:
a=3
type(a)

int

In [ ]:
a=1/3
type(a)

In [ ]:
a='text'
type(a)

In [49]:
a=3
b=1/3
type(a)==type(b)  # are types of a and b the same?

False

In [50]:
a=1/3
isinstance(a,int)

False

In [51]:
a=1/3
isinstance(a,float)

True

In [52]:
a=1/3
isinstance(a,(int, float)) # is either integer of float

True

## Converting to type

In [53]:
int(2/3)

0

In [54]:
float(3)

3.0

In [55]:
str(1/3)

'0.3333333333333333'

# Defining strings

In [57]:
"some text"

'some text'

In [58]:
'''some text'''

'some text'

In [59]:
'Text with "double" quotes'

'Text with "double" quotes'

In [60]:
"Text with 'single' quotes"

"Text with 'single' quotes"

In [61]:
s='''Some multiline text with

empty lines and complex indentation:
Item 1
Item 2
    Subitem 1
    Subitem 2'''

print(s)

Some multiline text with

empty lines and complex indentation:
Item 1
Item 2
    Subitem 1
    Subitem 2

### Substring in string

In [73]:
'world' in 'hello world!!!'

True

In [74]:
'this is some text'.startswith('this')

True

In [75]:
'this is some text'.endswith('text')

True

In [76]:
a=3/4

In [78]:
a=True
b=1/3
c='hello'

In [80]:
%precision 6

'%.6f'

In [84]:
print('a=%s, b=%.2f, c=%s'%(a,b,c))

a=True, b=0.33, c=hello

### Converting to string

In [85]:
'some string'

'some string'

In [86]:
a=True
'variable a=%s' % a

'variable a=True'

In [87]:
b=11
'variable b=%s' % b

'variable b=11'

In [88]:
a=True 
b=11
c=1/3
d='some string'
'a=%s, b=%s, c=%s, d=%s' % (a,b,c,d)

'a=True, b=11, c=0.3333333333333333, d=some string'

In [89]:
'the value of pi is %s' % pi

'the value of pi is 3.141592653589793'

In [ ]:
'the value of pi is %f' % pi

In [ ]:
'the value of pi is %.3f' % pi

# Indexed sequences

* lists
* tuples
* strings
* user defined

Indexed sequences contain a set of enumerated elements.

String contains only characters.

List and tuple can contain any elements

In [90]:
A=['Hello',1,True,[1,2,3]]
A

['Hello', 1, True, [1, 2, 3]]

In [91]:
T=('Hello',1,True,[1,2,3])
T

('Hello', 1, True, [1, 2, 3])

Lists can be modified (are mutable), while tuples can't (are immutable).

Indexed sequences have the same interface shown below

In [99]:
e=set(i for i in range(10))

In [100]:
for element in e:
    print(element)

0
1
2
3
4
5
6
7
8
9

In [103]:
L=['0','1','2','3','4','5','6']     # list
T=('0','1','2','3','4','5','6')     # tuple
S='0123456'             # string

#### Length

In [104]:
#for each object we can: find number of elements
len(S)

7

#### Get all uniqe elements

In [7]:
L=['A','B','A','B','B','C']
set(L)

{'A', 'B', 'C'}

#### Count all unique elements

In [8]:
len(set(L))

3

### Indexing from the beginning

In [2]:
L=['A','B','C','D','E']

In [3]:
print(L)
print('L[0] =', L[0]) # indexing asterts from 0!
print('L[1] =', L[1]) # indexing asterts from 0!

['A', 'B', 'C', 'D', 'E']
L[0] = A
L[1] = B

### Indexing from the end

In [4]:
print(L)
print('L[-1] =', L[-1]) # first from the end (last element)
print('L[-2] =', L[-2]) # 2nd from the end

['A', 'B', 'C', 'D', 'E']
L[-1] = E
L[-2] = D

### Iterating over elements

In [108]:
for element in L:
    print(element)

0
1
2
3
4
5
6

### Subsequencing

Subsequence from second element from the beginning

In [11]:
L=[0,1,2,3,4,5,6,7,8,9]

In [12]:
L[2:]

[2, 3, 4, 5, 6, 7, 8, 9]

Subsequence up to to second element from the end

In [13]:
L[:-2]

[0, 1, 2, 3, 4, 5, 6, 7]

Subsequence excluding 2 elements at the beginning and at the end

In [14]:
L[2:-2]

[2, 3, 4, 5, 6, 7]

Subsequence containing every 2nd element

In [16]:
L[::2]

[0, 2, 4, 6, 8]

Sequence in reverted order

In [17]:
L[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Subsequence containing every 2nd element from the subsequence with excluded 2 elements at the beginning and at the end.

In [18]:
L[2:-2:2]

[2, 4, 6]

Get index of first entry of an element

In [20]:
L.index(2)

2

In [21]:
L[2]

2

### Concatenation

In [118]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [119]:
(1,2,3)+(4,5)

(1, 2, 3, 4, 5)

In [117]:
'abc'+'de'

'abcde'

### Mutiplication

In [5]:
'a'*5

'aaaaa'

In [6]:
['1']*5

['1', '1', '1', '1', '1']

#### Check that element is in the sequence

In [120]:
'c' in ['a','b','c','d','e']

True

In [121]:
'c' in ('a','b','c','d','e')

True

In [122]:
'c' in 'abcde'

True

In [ ]:
A=[1,2,3]

In [131]:
A=A+[4,5,6]
A

[1, 2, 3, 4, 4, 4, 4, 4, 5, 6]

## Specifics of list, tuple and string

Strings and tuples are immutable (cannot be modified), while lists are mutable (can be modified).

Adding element to list

In [22]:
A=[1,2,3]
A+=[4]    # equivalent to A=A+[4]
A

[1, 2, 3, 4]

In [23]:
A=[1,2,3]
A.append(4) # add element to list. Not applicable to tuples and strings.
A

[1, 2, 3, 4]

Python variables for mutable types are references, not values!

In [25]:
A=[1,2,3]
B=A

A.append(5)

A,B

([1, 2, 3, 5], [1, 2, 3, 5])

In [28]:
A=[1,2,3]
B=A

A+=[5]

A,B

([1, 2, 3, 5], [1, 2, 3, 5])

For strings we can check that a substring is inside string:

In [29]:
'bcd' in 'abcde'

True

Sequence of sequences

In [ ]:
A=[[1,2,3],[11,12,13],[21,22,23]]
A

In [ ]:
A[1]

In [ ]:
len(A[1])

In [ ]:
A[1][1]

In [133]:
list((1,2,3))

[1, 2, 3]

In [134]:
list('abc')

['a', 'b', 'c']

# List<->string

In [135]:
'apple orange banana'.split()

['apple', 'orange', 'banana']

In [136]:
' '.join(['apple', 'orange', 'banana'])

'apple orange banana'

# Iterable

Iterable is any iterable set of elements

## generators

In [33]:
range(1,10)  # is a generator

range(1, 10)

### range

Generator over integers

In [140]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [141]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [145]:
list(range(7,0,-1))

[7, 6, 5, 4, 3, 2, 1]

### Using generators

In [34]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
gen = (i*i for i in range(10)) # perform memory efficient one-element-at-a-time iteration
gen

In [139]:
for elem in gen:
    print(elem)

0
1
4
9
16
25
36
49
64
81

## Iterating over iterable

In [146]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [35]:
i=0
L=[]
while i<7:
    L.append(i*i)
    i+=1
L

[0, 1, 4, 9, 16, 25, 36]

In [151]:
[i*i for i in range(7) if (i*i)%2!=0]

[1, 9, 25]

In [152]:
L=['a','b','c']
for elem in L:
    print(elem)

a
b
c

In [155]:
list(enumerate(['a','b','c']))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [156]:
L=['a','b','c']
for num,elem in enumerate(L):
    print('Element N%s = %s' % (num,elem))

Element N0 = a
Element N1 = b
Element N2 = c

In [157]:
L=['a','b','c']
[(num,elem) for num,elem in enumerate(L)]

[(0, 'a'), (1, 'b'), (2, 'c')]

# Set

Set contains unique elements in unordered way

In [158]:
lst=[0,1,1,2,2,2,3,3,3,3,3,3,3]
set(lst) # get unique elements

{0, 1, 2, 3}

Set can be initialized from any iterable object

In [ ]:
A=set([1,2,3,2,1])
A

In [ ]:
A=set((1,2,3,2,1))
A

In [159]:
A=set('abcdcba')
A

{'a', 'b', 'c', 'd'}

Useful when we need to get all unique elements of a sequence.

Also useful for set operations

In [160]:
A=set([1,2,3,4,5])
B=set([4,5,6,7])

In [161]:
A|B  # union: contains elements from both sets

{1, 2, 3, 4, 5, 6, 7}

In [162]:
A&B  # union: contains elements from both sets

{4, 5}

In [163]:
A-B  # substraction: all elements from set A and not from set B

{1, 2, 3}

In [ ]:
s=set([1,2,3,4,5])
[elem for elem in s if elem%2==0]  # get all even elements of a set (order is unspecified)

# Dictionary

Dictionary is a mapping between keys and values.

In [164]:
names2ages={'Andrew':23,'Anna':18}

In [165]:
names2ages['Andrew']

23

In [166]:
names2ages['Anna']

18

In [ ]:
len(names2ages)

In [ ]:
names2ages.keys()  # iterator over keys

In [ ]:
names2ages.values()    # iterator over values

In [ ]:
names2ages.items()   # iterator over (key,value) pairs

Comment: iterators over keys, values or key-value pairs will retrive elements in arbitrary order.

In [39]:
nums2squares = dict((i,i*i) for i in range(10))

In [40]:
nums2squares[3]

9

# Conditions

In [41]:
a=5

In [42]:
if a==4:
    print('a is equal to 4')

In [43]:
if a==4:
    print('a is equal to 4')
    
else:
    print('a is not equal to 4')

a is not equal to 4

In [44]:
if a==4:
    print('a is equal to 4')
elif a<4:
    print('a is less than 4')
elif a==5:
    print('a is 5')
else:
    print('a>4 and a!=5')

a is 5

# Functions

In [46]:
def fun(a,b):    
    return a+b

In [47]:
fun(10,5)

15

In [48]:
fun2 = lambda a,b:a+b    # short way to define a function, performing a one-line operation

In [49]:
fun2(10,5)

15

In [50]:
fun2(10,b=5)

15

In [51]:
fun2(a=10,b=5)

15

In [53]:
list( map(fun,[1,2,3],[10,20,30]) )

[11, 22, 33]

In [54]:
[fun(x,y) for x,y in zip([1,2,3],[10,20,30])]   # equivalent to previous

[11, 22, 33]

# Classes

In [55]:
class Person:
    def __init__(self, name,age):
        self.name = name
        self.age = age
        
    def introduce(self):
        name='Andrew'
        print('My name is %s. I am %d years old.' %(self.name, self.age))

In [56]:
p = Person('Bob',30)
p.introduce()

My name is Bob. I am 30 years old.

# Debugging

In [57]:
def fun():
    a=1
    b=0
    c=a/b

In [58]:
fun()

ZeroDivisionError: division by zero

In [59]:
%debug

> <ipython-input-57-5e73d718c630>(4)fun()
      1 def fun():
      2     a=1
      3     b=0
----> 4     c=a/b

ipdb> a
1
ipdb> b
0
ipdb> ab
*** NameError: name 'ab' is not defined
ipdb> p a/b
*** SyntaxError: invalid syntax
ipdb> a*b
0
ipdb> a/b
*** ZeroDivisionError: division by zero
ipdb> l
      1 def fun():
      2     a=1
      3     b=0
----> 4     c=a/b

ipdb> w
  <ipython-input-58-69e6a439c52d>(1)<module>()
----> 1 fun()

> <ipython-input-57-5e73d718c630>(4)fun()
      1 def fun():
      2     a=1
      3     b=0
----> 4     c=a/b

ipdb> !a/b
*** ZeroDivisionError: division by zero
ipdb> a/b
*** ZeroDivisionError: division by zero
ipdb> q

In [ ]:
from pdb import set_trace as bp

## List of debugger commands

**l(ist)** list 11 lines surrounding the current line

**w(here)** display the file and line number of the current line

**n(ext)** execute the current line

**s(tep)** step into functions called at the current line

**r(eturn)** execute until the current functions return is

**p<name>** print value of the variable <name>

**!<expr>** execute the expression <expr>

**q(uit)** exit the debugger

# Frequently used built-in functions

## Arithmetic

In [ ]:
max(1,2,3)

In [ ]:
max([1,2,3])

In [ ]:
min(1,2,3)

In [ ]:
min([1,2,3])

In [ ]:
sum([1,2,3])

## Logical

In [ ]:
any([False,False,True,False])

In [ ]:
any([0,0,3,0]) # true if exists any non-zero number

In [ ]:
all([True,True,True])

In [ ]:
all([0,1,2])  # true if all numbers are non-zero

In [ ]:
all([1,2,3])

## Iterations

In [ ]:
L=['a','b','c']

In [ ]:
for num,elem in enumerate(L): # get iteration numbers
    print(num,elem)

In [ ]:
L1=['a','b','c']
L2=['A','B','C']
for elem1, elem2 in zip(L1, L2): # iterate two sequences simultaneously
    print(elem1, elem2)

Sorting

In [ ]:
sorted([1,2,3,2,1])

In [ ]:
sorted([1,2,3,2,1], reverse=True)

# Gotchas

All operations in python are done using variable handles, not values

In [ ]:
a=1
b=a
b=3
a

In [194]:
A=[1]
B=list(A)

In [195]:
B

[1]

In [196]:
A.append(2)
A.append(3)
A.append(4)

In [197]:
A

[1, 2, 3, 4]

In [198]:
B

[1]

In [187]:
A

[1, 2, 3, 4, 5]

In [60]:
A={'Bob':30, 'Alice':25}
B=A
B['George']=40

In [61]:
B

{'Alice': 25, 'Bob': 30, 'George': 40}

In [62]:
A

{'Alice': 25, 'Bob': 30, 'George': 40}

In [63]:
def fun(A):
    A.append(100)
    
A=[1,2,3]
fun(A)
A

[1, 2, 3, 100]

However:

In [64]:
def fun(A):
    A=A+[100]
    
A=[1,2,3]
fun(A)
A

[1, 2, 3]

In [81]:
A=[1,2,3]
B=A
A+=[9]
A,B

([1, 2, 3, 9], [1, 2, 3, 9])

In [70]:
import numpy as np

A=np.array([1,2,3,4])
B=A
A=A+10
A,B

(array([11, 12, 13, 14]), array([1, 2, 3, 4]))

To remove duplication, use object reconstruction, copying or deepcopy

Reconstruct object

In [71]:
A=[1,2,3,4]
B=list(A)  # make a copy of A
B.append(5)

In [72]:
B

[1, 2, 3, 4, 5]

In [73]:
A

[1, 2, 3, 4]

Make copy

In [74]:
A=[1,2,3,4]
B=A[:]  # make a copy of A
B.append(5)

In [75]:
B

[1, 2, 3, 4, 5]

In [76]:
A

[1, 2, 3, 4]

Use deepcopy

In [77]:
from copy import deepcopy

In [78]:
A=[1,2,3,4]
B=deepcopy(A)  # make a copy of A
B.append(5)

In [79]:
B

[1, 2, 3, 4, 5]

In [80]:
A

[1, 2, 3, 4]

Read more: 
* [Official documentation](http://docs.python.org/3/)